go 1.24.0

use (
	./cmd/compiler
	./cmd/main
	./internal/ast
	./internal/bytecode
	./internal/codegen
	./internal/interpreter
	./internal/parser
	./internal/resolver
	./internal/runtime
	./internal/scanner
	./internal/token
	./internal/util
	./internal/vm
)
